<script setup lang="ts">
import { ref } from 'vue';
import axios from '../service/axios';

const apple = ref({
    Size : 0.0,
    Weight : 0.0,
    Sweetness : 0.0,
    Crunchiness : 0.0,
    Juiciness : 0.0,
    Ripeness : 0.0,
    Acidity : 0.0,
})

const Predicton = ref<{prediction : String}>({prediction : ''})

const isActive = ref(false)

async function submit(item :any){
    
     try{
        const res =  await axios.PredicApple(item)
        Predicton.value = res.data
        isActive.value = true
     }catch(e){
        console.log(e)
        isActive.value = false
     }
}

</script>
<template>

    <div class="toast-container position-static">
  <div :class="isActive == false ? 'toast': 'toast show'  " role="alert"  aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small class="text-body-secondary"></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" @click="isActive = false"></button>
    </div>
    <div class="toast-body">
        Apple Quality is {{ Predicton.prediction}}
    </div>
  </div>
  </div>



    
    <div class="position-absolute z-2 top-50 start-50 translate-middle">
        <div class="card text-center " style="width: 50rem;">
            <div class="card-body ">
                <h5 class="card-title">Apple Quality Pediction</h5>
                <p class="card-text"></p>
                <div class="d-flex w-auto">
                    <label for="customRange1" class="form-label me-2" >Size</label>
                    <input type="range" class="form-range me-2" min="-5" max="5" step="0.1" v-model="apple.Size" id="customRange1">
                    <input class="form-control form-control-sm w-25 text-center" type="text" v-model="apple.Size" aria-label=".form-control-sm example">
                    <!-- {{ apple.Size }} -->
                </div>
                <div class="d-flex my-2">
                    <label for="customRange1" class="form-label me-2">Weight</label>
                    <input type="range" class="form-range me-2 " min="-5" max="5" step="0.1" v-model="apple.Weight" id="customRange1">
                    <input class="form-control form-control-sm w-25 text-center" type="float" v-model="apple.Weight" aria-label=".form-control-sm example">

                    <!-- {{ apple.Weight }} -->
                </div>
                <div class="d-flex my-2">
                    <label for="customRange1" class="form-label me-2">Sweetness</label>
                    <input type="range" class="form-range me-2" min="-5" max="5" step="0.1" v-model="apple.Sweetness" id="customRange1">
                    <input class="form-control form-control-sm w-25 text-center" type="float" v-model="apple.Sweetness" aria-label=".form-control-sm example">
                    <!-- {{ apple.Sweetness }} -->
                </div>
                <div class="d-flex my-2">
                    <label for="customRange1" class="form-label me-2">Crunchiness</label>
                    <input type="range" class="form-range me-2" min="-5" max="5" step="0.1" v-model="apple.Crunchiness" id="customRange1">
                    <input class="form-control form-control-sm w-25 text-center" type="float" v-model="apple.Crunchiness" aria-label=".form-control-sm example">
                    <!-- {{ apple.Crunchiness }} -->
                </div>
                <div class="d-flex my-2">
                    <label for="customRange1" class="form-label me-2">Juiciness</label>
                    <input type="range" class="form-range me-2" min="-5" max="5" step="0.1" v-model="apple.Juiciness" id="customRange1">
                    <input class="form-control form-control-sm w-25 text-center" type="float" v-model="apple.Juiciness" aria-label=".form-control-sm example">
                    <!-- {{ apple.Juiciness }} -->
                </div>
                <div class="d-flex my-2">
                    <label for="customRange1" class="form-label me-2">Ripeness</label>
                    <input type="range" class="form-range me-2" min="-5" max="5" step="0.1" v-model="apple.Ripeness" id="customRange1">
                    <input class="form-control form-control-sm w-25 text-center" type="float" v-model="apple.Ripeness" aria-label=".form-control-sm example">
                    <!-- {{ apple.Ripeness }} -->
                </div>
                <div class="d-flex my-2">
                    <label for="customRange1" class="form-label me-2">Acidity</label>
                    <input type="range" class="form-range me-2" min="-5" max="5" step="0.1" v-model="apple.Acidity" id="customRange1">
                    <input class="form-control form-control-sm w-25 text-center" type="float" v-model="apple.Acidity" aria-label=".form-control-sm example">
                    <!-- {{ apple.Acidity }} -->
                </div>
                <button  class="btn btn-primary" type="button" @click="submit(apple)">Let's Go</button>
            </div>
        </div>
        
    </div>
    

</template>
<style>
</style>